{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% block content %}
<div class="content-section">
    <div class="media">
      <img class="rounded-circle account-img" src="{{ image_file }}">
      <div class="media-body">
        <h2 class="account-heading">{{ current_user.username }}</h2>
        <p class="text-secondary">{{ current_user.email }}</p>
      </div>
    </div>
    <form method="post" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      {{ form.csrf_token }}
      {% for field in form if field.name != 'password' %}
        {% if field.type != 'SubmitField' %}
          {{ render_field(field) }}
        {% endif %}
      {% endfor %}
      <div class="form-group">
        {{ form.picture.label() }}
        {{form.picture(class="form-control-file")}}
        {% if form.picture.errors %}
          <!-- <span class="help-block text-danger">{{ form.picture.errors }}</span></br>         -->
        {% endif %}
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
  </form>
  </div>
{% endblock content %}