{% extends "base.html" %}
{% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
{% endblock styles %}

{% block content %}
<h1>Home page</h1>
{% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted }}</small>
        </div>
        <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        </div>
    </article>
{% endfor %}
    {% for category, text in message %}
        <div class="alert alert-{{ category }}">
            {{ text }}
        </div>
    {% endfor %}
    
{% endblock content %}

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}
{% endblock scripts %}
