{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_field %}
{% block content %}
    <div class="content-section">
        <form method="post" action="{{url_for('login')}}">
            {{ form.hidden_tag() }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Account? <a class="ml-2" href="{{url_for('register')}}">Sign In</a>
        </small>
    </div>
{% endblock content%}
